# Tutorium Informatik für Data Science 2
## Thema: Erweiterte Grundlagen Pandas

---

### Aufgabe 1

+ Importiere pandas und lese die Daten `2018.csv` und `2019.csv` als separate df ein

In [1]:
#TODO

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("data/2018.csv")
df2 = pd.read_csv("data/2019.csv")

---

### Aufgabe 2

+ Nutze folgende Funktionen, um die Daten besser kennenzulernen

`df.head(), df.shape, df.nunique(), df.info(), df.describe(), df.columns`

In [4]:
#TODO

---

### Aufgabe 3

+ Welche Werte der `"Country or region"` Spalte sind nicht in beiden df zu finden?

<details>
    <summary>Hinweis</summary>
    Man kann Instanzen des Datentyps `set` in Python voneinander subtrahieren
</details>

In [5]:
#TODO

In [6]:
pd.concat([df1[~(df1["Country or region"]).isin(df2["Country or region"])]["Country or region"],
df2[~(df2["Country or region"]).isin(df1["Country or region"])]["Country or region"]])

48              Belize
88           Macedonia
136              Sudan
141             Angola
83     North Macedonia
119             Gambia
134          Swaziland
141            Comoros
Name: Country or region, dtype: object

In [7]:
set(df1["Country or region"])-set(df2["Country or region"])

{'Angola', 'Belize', 'Macedonia', 'Sudan'}

In [8]:
(set(df2["Country or region"])-set(df1["Country or region"]))

{'Comoros', 'Gambia', 'North Macedonia', 'Swaziland'}

In [9]:
(set(df1["Country or region"])-set(df2["Country or region"])) | (set(df2["Country or region"])-set(df1["Country or region"]))

{'Angola',
 'Belize',
 'Comoros',
 'Gambia',
 'Macedonia',
 'North Macedonia',
 'Sudan',
 'Swaziland'}

In [10]:
list(set(df2["Country or region"])-set(df1["Country or region"]))

['North Macedonia', 'Gambia', 'Swaziland', 'Comoros']

In [11]:
list(set(df2["Country or region"]) ^ set(df1["Country or region"]))

['North Macedonia',
 'Macedonia',
 'Gambia',
 'Swaziland',
 'Sudan',
 'Angola',
 'Comoros',
 'Belize']

---

### Aufgabe 4

+ konkatinieren die beiden Data Frames und speichere diese als concat_df ab, nutze hierzu die pandas funktion `concat()`

In [12]:
#TODO

In [13]:
concat_list = [df1, df2]
concat_df = pd.concat(concat_list)

---

### Aufgabe 5

+ Verkette und gruppiere die Datensätze sinnvoll, um je Country or region den durchschnitt der numerischen Werte zu erhalten.

In [14]:
#TODO

In [15]:
mean_df = concat_df.groupby("Country or region", as_index=False).mean()

---

### Aufgabe 6

+ Entferne die Spalte `"Overall rank"`

In [16]:
#TODO

In [17]:
mean_df = mean_df.drop(columns=["Overall rank"])

+ Füge eine neue Spalte `"rank"` hinzu. Recherchiere hierzu wie die rank-Spalte in Abhängigkeit von der bestehenden `"Score"` Spalte erstellt werden kann.

+ Ändere den Datentyp der Spalte zu `integer`

In [18]:
#TODO

In [19]:
#hinzufügen der rank Spalte
mean_df["rank"] = mean_df["Score"].rank(ascending=False)

In [20]:
# datentyp anpassen
mean_df["rank"] = mean_df["rank"].astype(int)

---

### Aufgabe 7

+ Sortiere den Data Frame sinnvoll

+ Passe den Index mittels der `reset_index` funktion von Pandas so an, dass am ende nur eine Indexspalte in richtiger Ordnung übrig bleibt

In [21]:
#TODO

In [22]:
#werte sortieren
mean_df = mean_df.sort_values(by="rank")

In [23]:
#index anpassen
mean_df = mean_df.reset_index(drop=True)

In [24]:
mean_df

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,rank
0,Finland,7.7005,1.3225,1.5895,0.9300,0.6385,0.1775,0.3930,1
1,Denmark,7.5775,1.3670,1.5815,0.9320,0.6375,0.2680,0.4090,2
2,Norway,7.5740,1.4720,1.5820,0.9445,0.6445,0.2785,0.3405,3
3,Iceland,7.4945,1.3615,1.6340,0.9700,0.6340,0.3535,0.1280,4
4,Switzerland,7.4835,1.4360,1.5375,0.9895,0.6160,0.2595,0.3500,5
...,...,...,...,...,...,...,...,...,...
155,Yemen,3.3675,0.3645,1.1180,0.4030,0.1935,0.0955,0.0705,156
156,Burundi,3.3400,0.0685,0.5370,0.2625,0.1425,0.1625,0.1280,157
157,Tanzania,3.2670,0.4655,0.9380,0.4400,0.4490,0.2730,0.1220,158
158,Central African Republic,3.0830,0.0250,0.0000,0.0575,0.2650,0.2265,0.0365,159
159,South Sudan,3.0535,0.3215,0.5915,0.2360,0.0610,0.2130,0.0985,160

---

### Aufgabe 8

<div class="alert alert-info"> 
<b>Info:</b> Ziel der Studie die diesen Datensatz hervorbrachte ist es, die Auswirkungen unabhängiger Variablen auf das Glücksniveau der Menschen in den Jahren 2018 und 2019 zu untersuchen.
</div>

+ Unabhängige Variablen: `'Overall rank', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity' and 'Perceptions of corruption'`

+ Untersuche die Auswirkungen (EDA - Exploratory Data Analysis)

In [25]:
#TODO

---

### Aufgabe 9
Stelle die Zusammenhänge grafisch dar.

In [ ]:
#TODO

---

### Bonus

+ Führe folgende Zellen aus

In [ ]:
! pip uninstall pandas-profiling -y

In [ ]:
mean_df

In [ ]:
from ydata_profiling import ProfileReport
prof = ProfileReport(mean_df)
prof

---

<a href=https://www.kaggle.com/code/sougatapramanick/soug009> Exampel <a>